@inherits LayoutComponentBase

<div class="relative flex flex-col sm:flex-row">

    <div class="bg-gradient-to-b from-[#052767] to-[#3a0647]
                sm:w-[250px] sm:h-screen sm:sticky sm:top-0 sm:z-10">

        <NavMenu />
    </div>

    <main class="flex-1">

        <div class="bg-gray-100 
                    justify-end items-center
                    border-b border-gray-300
                    h-14 px-4 sm:pl-8 sm:pr-6
                    hidden sm:flex">

            <a href="http://blazor.net" target="_blank"
               class="text-blue-600 hover:underline">About</a>

        </div>

        <article class="pt-5 px-4 sm:pl-8 sm:pr-6">
            @Body
        </article>

    </main>
</div>