.repo-link {
  @apply flex m-auto rounded-full pl-1 ml-6;
  @apply ring-1 ring-gray-800;
  @apply hover:scale-110 transition-transform duration-75;
  @apply bg-transparent text-gray-800;
  @apply focus:outline-none;
}

.nav {
  @apply flex flex-wrap flex-col;
  @apply pl-0 mb-0;
  @apply list-none;
}

.navbar-toggler {
  @apply sm:hidden;
  @apply bg-transparent ring-[#052767];
}

.navbar-toggler-icon {
  @apply inline-block items-center align-middle;
  @apply text-black dark:text-white;

  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.nav-item {
  @apply text-sm pb-2 px-4;
  @apply first:pt-4 last:pb-4;
}

.nav-item ::deep a {
  @apply text-gray-100 rounded h-12 flex items-center leading-[3rem];
}

.nav-item ::deep a.active {
  @apply text-white bg-white/25;
}

.nav-item ::deep a:hover {
  @apply text-white bg-white/10;
}
