<div class="alert" role="alert">
    <Icon><Pencil /></Icon>
    <strong>@Title</strong>

    <span class="whitespace-nowrap">
        Please take our
        <a target="_blank" class="font-bold" href="https://go.microsoft.com/fwlink/?linkid=2148851">brief survey</a>
    </span>
    and tell us what you think.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}